* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Anaheim", sans-serif;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  background-image: url("https://i.postimg.cc/mr22DBCP/rhads.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-content {
  background-color: rgba(58, 66, 79, 0.35);
  z-index: -1;
}

header {
  display: none;
}

.menu-toggle {
  background-color: #485367;
  padding: 1em 0em 0.5em;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menu-toggle a {
  text-decoration: none;
  color: #232323;
}

.menu-toggle input {
  display: block;
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  opacity: 0;
  top: -0.5em;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  position: relative;
  width: 1.5em;
  height: 0.1em;
  margin-left: 1em;
  margin-bottom: 0.35em;
  background: #f8f9f9;
  border-radius: 0.18em;
  z-index: 1;
  transform-origin: 0.05em 0em;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  background: #485367;
  border-style: none;
  opacity: 1;
  transform: rotate(45deg) translate(-0.125em, -0.063em);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0.063em);
}

.menu {
  position: absolute;
  width: 100%;
  margin: -3em 0em 0em 0em;
  padding: 3em 0em 2.3em;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-toggle input:checked ~ ul {
  transform: none;
}

.menu li {
  font-size: 0.8rem;
  text-decoration: none;
  padding: 1em;
}

.img-home {
  width: 6em;
  margin: 1em 0em 4em;
}

.hero {
  font-family: "Oswald", sans-serif;
  padding: 6em 1em 2em;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.separator {
  width: 17em;
  height: 0.3em;
  background-color: #f9f9f9;
  border-style: none;
}

.subtitle {
  font-size: 1.3rem;
}

.media {
  margin-top: 8em;
}

.icon {
  width: 2.5em;
  height: auto;
  margin: 1em;
}

.projects {
  background-color: rgba(220, 215, 216);
  padding: 4.5em 1em;
  text-align: left;
}

.projects-title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #3d3649;
}

.projects-list {
  text-align: center;
}

.project {
  background-color: #f9f9f9;
  margin-top: 1em;
  padding: 0.7em;
}

.overlay {
  display: none;
}

.img-project {
  width: 20em;
}

.name-project {
  font-size: 1.5rem;
  line-height: 2em;
  color: #3d3649;
}

.about-project {
  font-size: 1rem;
}

.tools {
  line-height: 4em;
  color: #f59f40;
}

.repo {
  color: #585b70;
}

.bird {
  padding-left: 40%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.bird-head {
  width: 12em;
  z-index: 1;
  position: relative;
  bottom: -53px;
  right: -3px;
}

.body-bird {
  width: 12em;
  margin: 0;
  position: relative;
  top: 15px;
}

.skills {
  background-color: #273746;
  padding-top: 4.5em;
  color: #f8f9f9;
}

.sk-bar {
  width: 100%;
  position: relative;
  top: 1em;
}

.skills > p {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-align: left;
  margin-left: 16px;
}

.sk-img {
  width: 17em;
  height: 17em;
  margin: 2em;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  text-align: center;
  background-color: #f8f9f9;
  width: 49.3%;
  height: 5em;
  color: rgba(39, 55, 70);
  border-style: solid;
  border-width: 1px;
  border-color: #f3f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-none {
  display: none;
}

.tech-skills {
  padding: 1em;
}

.soft-skills {
  padding: 1em;
  padding-bottom: 4em;
  background-color: #e6e3d8;
}

.about {
  background-color: #f3f0ed;
  opacity: 0.98;
  padding: 4.5em 1em;
}

.about > p {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #3d3649;
  text-align: left;
}

.about-content {
  text-align: center;
}

.about-text {
  padding: 2em 1em 0em;
}

.about-img {
  width: 20em;
}

.mask {
  margin-top: 3em;
  width: 15em;
}

footer {
  text-align: center;
  padding: 4em 2em;
  background-color: rgba(39, 55, 70, 0.55);
  z-index: -1;
}

footer p {
  font-size: 1.1rem;
  color: #f8f9f9;
}

@media screen and (min-width: 769px) {
  header {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .navbar {
    position: fixed;
    background-color: #c0bcb4;
    width: 40em;
    padding: 0.3em 30em;
    display: flex;
    justify-content: space-around;
    z-index: 3;
  }

  .navbar .item {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    padding-top: 1em;
    transition: 0.5s ease;
  }

  .logo-home {
    padding: 0.15em;
    width: 3em;
  }

  .navbar .item:hover {
    color: #212f3d;
  }

  .img-home {
    display: none;
  }

  .hero {
    text-align: left;
    margin-top: 10em;
    padding: 2em 0em 20em 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-content {
    display: flex;
    flex-direction: row;
  }

  .name-hero {
    padding: 4em 2em;
  }

  .title {
    font-size: 5rem;
    line-height: 1.3;
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 2;
  }

  .separator {
    width: 30em;
    height: 0.3em;
    margin-left: 0;
    background-color: #f9f9f9;
  }

  .media {
    height: 15em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projects {
    padding: 5em;
  }

  .projects-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .projects-list {
    margin-left: 3em;
    text-align: left;
  }

  .project {
    background-color: #f9f9f9;
    width: 45em;
    margin-top: 1em;
    padding: 0.7em;
    display: flex;
    flex-direction: row;
  }

  .details {
    padding: 2em;
  }

  .img-project {
    position: relative;
    width: 20em;
    transition: 0.4s ease;
  }

  .overlay {
    display: block;
    position: absolute;
    padding: 8.5em 6.25em;
    background-color: #20232d;
  }

  .overlay-text {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    color: #f9f9f9;
  }

  .img-project:hover {
    opacity: 0.2;
  }

  .name-project {
    font-size: 2rem;
  }

  .bird {
    margin-top: 8em;
    padding: 4em 0em;
  }

  .bird-head {
    width: 17em;
  }

  .body-bird {
    width: 18em;
    top: -5px;
    left: -12px;
  }

  .skills > p {
    margin-left: 80px;
  }

  .sk-img {
    width: 18em;
    height: 18em;
    margin-top: 4em;
  }

  .skills-list {
    width: 65%;
    margin-top: 4em;
  }

  .text {
    width: 33%;
  }

  .text-none {
    display: block;
    opacity: 0;
  }

  .tech-skills {
    padding: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .soft-skills {
    padding: 5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .about {
    padding: 5em;
  }

  .about-content {
    padding: 0em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about-text {
    padding: 4em 0em 4em 6em;
  }

  .about-img {
    width: 25em;
    height: 30.68em;
  }

  .mask{
    margin: 0;
    width: 18em;
    position: relative;
    right: -10em;
  }

  footer {
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-media {
    width: 20em;
  }
}
